# Carpeta de compilación
/target/

# Archivos de configuración de IDE
.idea/
.vscode/

# Dependencias de Maven
/.m2/

# Archivos de registro
*.log

# Archivos de respaldo
*~

# Archivos de configuración local
*.properties
*.yaml